.centered {
    margin: 0 auto;
}
.center_t {
    text-align: center;
}
.empty_msg{
    border-right: none;
    column-span: 2;
}
table {
    margin: 0 auto;
    border: 2px solid black;
}
tr:first-child {
    padding-left: 20%;
    padding-right: 20%;
}
th {
    border: 1px solid black;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
td {
    white-space: nowrap;
    text-align: center;
}
td:first-child {
    text-align: left;
    border-right: 1px solid gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
}